*{
    margin: 0 ;
    padding: 0 ; 
    box-sizing: border-box;
}
html , body{
    height : 100% ; 
    width : 100% ; 
}
#blog{
    height: 60px ;
    width: 100% ; 
    display: flex;
    align-items: center;
}
#blo{
    height: 60px ;
    width: 100% ; 
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    position: fixed;
}
#blo1{
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 22px;
    font-weight: 900;
}
#blo1 i{
    padding-right: 25px;
}
#blo2{
    display: flex ;
    align-items: center;
    text-align: right;
    padding-right: 20px;
}

#first{
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(239, 254, 254);
}
#bcg{
    height: 450px;
    width: 100%;
    background-image: url(https://image.slidesdocs.com/responsive-images/slides/0-blue-enterprise-technology-business-festival-concise-dynamic-simple-powerpoint-background_fa1ecdf634__960_540.jpg);
    display: flex;
    align-items: center;
    border-radius: 15%;
    border-bottom-right-radius: 85%;
}
#blo2 > a{
    text-decoration: none;
    color: black;
}
#man a{
    text-decoration: none;
    padding: 6px 20px ;
    color: white;
    font-size: 13px;
    background-color: rgb(18, 139, 18);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    font-weight: 600;
}
#man a:hover{
    background-color: rgb(15, 69, 15);
}
#blo2 i{
    margin-right: 25px;
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
}
#man i:hover{
    color: rgb(47, 110, 205);
    background-color: rgb(225, 241, 248);
    border-radius: 50% ;
}
#p1{
    padding: 20px 50px;
    height: 100%;
    width: 60%;
    color : rgb(26, 26, 84) ;
    padding-left: 100px;
}
#p1 img{
    margin-bottom: 20px;
}
#p1 h2{
    margin: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
#p1 h1{
    font-size: 36px ;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 550;
}
#p1 h6{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 25;
    padding-top: 10px;
}
#icon1{
    padding: 20px;
    height: 100%;
    width: 45%;
    padding-top : 100px
}
#seco{
    padding-left: 100px;
}
#seco >a{
    text-decoration: none;
    font-size: 13px;
    padding: 11px 17px;
    color: white;
    background-color: rgb(81, 81, 171);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}
#seco >a:hover{
    background-color: rgb(82, 30, 134);
}
#thi{
    padding-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 100%;
    height: 500px;
}
#thi> h1{
    font-size: 33px;
    padding-top: 65px;
    padding: 20px;
    color: rgb(2, 2, 103);
}
#thi>h2{
    padding-top: 10px;
    padding-left: 20px;
    color: rgb(2, 2, 103);
}
#thi2{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.box{
    margin-left: 20px;
    margin-right: 10px;
    height: 100%;
    width: 300px;
    background-color: rgb(240, 240, 240);
    margin-top: 36px;
}
.box h3{
    font-size: 17px;
    font-weight:100;
    padding-left: 20px;
    padding-top: 20px;
}
.box h2{
    padding: 20px;
    font-size: 23px;
    font-weight: lighter;
    color: rgb(16, 135, 183)
}
.box h4{
    font-size: 17px;
    padding-left: 20px;
    font-weight: 100;
    padding-right: 6px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 35px;
}
.box a{
    text-decoration: none;
    font-size: 15px;
    padding-top: 35px;
    padding-left: 20px;
    font-weight: 550;
    color: rgb(8, 124, 174);

}
.box a:hover{
    color:rgb(4, 60, 84);
}
#next{
    margin-top: 200px;
    height: 225px;
    width: 80%;
    background-image: url(https://static.vecteezy.com/system/resources/previews/032/937/381/non_2x/flying-butterfly-silhouette-on-blue-sky-backdrop-free-photo.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 100px;
}
#next h4{
    padding: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#next h1{
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    font-size: 43px;
    padding-bottom: 40px;
}
#next >a{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    margin-left: 30px;
    color: white;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
#next>a:hover{
    background-color: rgb(144, 206, 223);
}
#line{
    margin-left: 100px;
    padding-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
#fifth{
    height: 355px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
    margin-bottom: 80px;
}
#fifth a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#sixth{
    height: 375px;
    width: 100%;
    background-color: rgb(235, 222, 189);
    display: flex;
    align-items: center;
}
#part{
    height: 100%;
    width: 47%;
}
#part h1{
    padding-top: 50px;
    padding-left: 125px;
    padding-right: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100 ;
}
#part p{
    padding-left: 125px ;
    padding-right: 10px ;
    padding-top: 10px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 30px;
}
#part a{
    text-decoration: none;
    margin-left: 125px;
    padding:  10px 20px;
    color: white;
    background-color: rgb(70, 70, 158);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
#part a:hover{
    background-color:rgb(7, 7, 151)
}
#part h4{
    padding: 30px 125px ;
    font-weight: 300;
}
#part2{
    height: 100% ; 
    width: 53% ;
    background-image: url(https://i.ytimg.com/vi/k2EBmW76vF8/sddefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
#next2{
    width: 100% ; 
    height: 450px;
    margin-top: 25px;
    display: flex;
}
#sec1{
    width: 35%;
    height: 100%;
    padding-top: 20px ;
    padding-left: 125px ;
    padding-bottom: 25px;
}
#icons{
    width: 100% ;
    font-size:18px;
    padding-top: 45px;
    padding-bottom: 30px;
}
#sec1 h4{
    font-size: 20px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
#sec2{
    height: 100%;
    width: 65%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: top;
}
.sec{
    margin-top: 10px;
    padding-right: 60px;
}
.sec h4{
    padding-bottom: 20px;
    font-weight: 450;
}
.sec a{
    color: rgb(32, 115, 203);
    font-size: 13px;
    text-decoration: none;
    font-weight: 100;
}
.sec a:hover{
    color: rgb(11, 49, 137);
}
#eighth{
    height: 125px;
    width: 100%;
    display: flex;
    background-color: rgb(18, 18, 91);
    color:white
}
#pa1{
    height: 100%;
    width: 30%;
}
#pa1 h3{
    margin-left: 150px;
    margin-top: 40px;
    width:52% ; 
    font-size: 15px;
    font-weight: 300;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
}
#pa2{
    padding-top: 40px ;
    font-size: 11px ;
    font-family: Arial, Helvetica, sans-serif;
}
#pa2 a{
    color:rgb(21, 166, 228) ;
}
#pa2 a:hover{
    text-decoration: none;
    color: white;
}
#section a{
    margin: 10px;
}
#section a:hover{
    text-decoration: none;
    color:white ;
}